<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{{#pagepeeps}}
    <a href="/person?={{id}}">{{first_name}} {{last_name}}</a><br>
{{/pagepeeps}}
{{^firstpage}}
<form action="/previous-page" method="post" style="display: inline-block;">
    <button type="submit">Prev</button>
</form>
{{/firstpage}}
{{^lastpage}}
<form action="/next-page" method="post" style="display: inline-block;">
    <button type="submit">Next</button>
</form>
{{/lastpage}}<br>
Page {{pagenumber}} of {{totalpages}}
<form action="select-page" method="post">
    Jump to page <input type="number" name="pageselected" placeholder="1" width=20px/>
    <button type="submit">Go</button>
</form>
{{#choseperson}}
{{#person}}
<h3>{{first_name}} {{last_name}}</h3><br>
{{email}}<br>
{{country}}<br>
{{ip_address}}
{{/person}}
{{/choseperson}}
</body>
</html>